<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список преподавателей</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{header :: student}"></div>
<h2>Преподаватели</h2>
<ul>
    <li th:each="teacher : ${teachers}">
        <a th:href="@{./__${teacher.id}__}"
           th:text="${teacher.lastName + ' ' + teacher.firstName + ' ' + teacher.patronymic}"></a>
    </li>
</ul>
</body>
</html>

