h1, h2 {
    text-align: center;
}

form.center {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

form {
	display: table;
}

label {
	display: block;
    margin-bottom: 16px;
}

input[type="text"], input[type="password"] {
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}

a {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #3366ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
	background-color: #33660f;
}

.login-links {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    background-color: ##3366ff;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
}