<html xmlns:th="https://www.thymeleaf.org">

<body>

<h2>Поиск преподавателя</h2>

<form th:object="${teacher}" th:action="@{/student/teachers}" method="get">
    <div class="form-group">
        <div class="control-group" id="lastNameGroup">
            <label>Фамилия</label>
            <input class="form-control" th:field="*{lastName}" size="30"
                   maxlength="80"/> <span class="help-inline">
            <div th:if="${#fields.hasAnyErrors()}">
              <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
            </div></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Найти преподавателя</button>
        </div>
    </div>

</form>

</body>
</html>
